
.cardResponsive {
    width: 100%;
    height: auto;
}




.customTooltip{
    background-color: white;
    color: black;
}

.tooltipContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items:flex-start;
}


