

.ratingIndexContainer li{
        border: 1px solid black;
        width: 250px;
        margin: 1rem auto;
        text-align: center;
}

.animeDetailsContainter{
    border: 1px solid black;
    width: 250px;
    margin: 0 auto !important;
}

.streamContainer{
    width: 250px;
    margin: 0 auto!important;
}

.streamContainer li {
    order: 1px solid grey;
    border-radius: 15px;
    background-color: #2b2e42;
    margin: 5px 0px;
    /* padding: 0px 8px; */
}

.streamContainer li>a{
    color: white;
}